@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

button {
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: whitesmoke;
    border: none;
    border-radius: 25px;
    width: 400px;
    height: 150px;
    font-size: 50px;
}

button:hover {
    transition: 0.5s;
    background-color: gray;
    color: whitesmoke;
    cursor: pointer;
}